@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: background: rgba(0, 0, 0, 0.0001);
    font-family: 'Montserrat', sans-serif;
    color: #373737;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
    text-align: center;
}

a {
  text-decoration: none;  
  color: #373737;
}

.header-list-item {
    margin: 25px 72px;
    display: inline-block;
}

.header-list-link {
    font-family: 'Montserrat';
    font-style: normal;
    color: rgba(255, 0, 0, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.block-img {
    height: 789px;
    width: 100%;
    background-image: url("../img/phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-title {
    margin: 48px auto;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
}

.section-text {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.btn {
    margin: 42px auto;
    padding: 18px 43px 17px 43px;
    background: #FF0000;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
}

.footer {
    text-align: right;
}

.footer-info {
    display: inline-block;
    margin: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
}